.gradle
.idea
*.iml

local.properties

.settings/org.eclipse.buildship.core.prefs

.project

applicationContext/gradle/wrapper/

applicationContext/gradlew

applicationContext/gradlew.bat


app/gradlew

app/gradlew.bat

gradle.properties


app/gradle/wrapper/
